*{
    text-align: center;
}
#content{
    color: #fff;
}
#content h1{
    font-size: 50px;
}
#content p{
    font-size: 20px;
}
#cta a{
    background-color: #4649ff; /* sets background color for button */
    color: white; /* sets text color */
    padding: 15px 50px; /* adds padding to the button */
    border: none; /* removes border */
    border-radius: 15px; /* adds border-radius */
    cursor: pointer; /* changes cursor to pointer on hover */
    font-size: 30px; /* sets font size */
    text-decoration: none;
    font-weight: 600;
}
#cta{
    margin-top: 50px;
}