*{
    text-align: center;
}
#content{
    color: #fff;
}
#content h1{
    font-size: 50px;
}
#content p{
    font-size: 20px;
}
#cta a{
    color:#fff;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
}
#cta{
    margin-top: 50px;
}