*{
    text-align: center;
}

body{
    color: #ca46ff;
}
.form{
    margin-top: 60px;
}
#note-form {
    width: 450px; /* adjust the width as needed */
    margin: 0 auto; /* this centers the form horizontally */
    padding: 30px; /* adds some padding */
    text-align: center; 
    background: #e7e7e7;
    border-radius: 15px;
  }
  
  #note-form label {
    display: block;
    margin-bottom: 5px; 
    font-size: 18px;
    font-weight: 600;
  }
  #note-form input,
  #note-form textarea {
    width: 100%; /* makes input and textarea fill the width of the form */
    padding: 8px; /* adds padding to inputs */
    margin-bottom: 15px; /* adds some space below inputs */
    background: #ca46ff;
    box-sizing: border-box; 
    border: none;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  #note-form input{
    padding: 15px;
  }
  
  #note-form .form-actions {
    text-align: center; /* aligns the button to the center */
  }
  
  #note-form button {
    background-color: #ca46ff; /* sets background color for button */
    color: white; /* sets text color */
    padding: 13px 25px; /* adds padding to the button */
    border: none; /* removes border */
    border-radius: 15px; /* adds border-radius */
    cursor: pointer; /* changes cursor to pointer on hover */
    font-size: 17px; /* sets font size */
  }
  
  #note-form button:hover {
    background-color: #a100e1; /* changes background color on hover */
  }
  